<%- include('./includes/head.ejs') %>

<body>
  <main>
    <%- include('./includes/navigation.ejs') %>
    <section class="reviews" id="reviews">
      <div class="heading">
        <h1>What Our Customers Say</h1>
      </div>
      <div class="reviews-container">
        <% reviews.forEach(review => { %>
        <div class="box">
          <h2>
            <%= review.user.firstName %> <%= review.user.lastName %>
          </h2>

          <div class="stars">
            <% for (let i = 0; i < review.rating; i++) { %>
            <i class="bx bxs-star"></i>
            <% } %> <% if (review.rating % 1 !== 0) { %>
            <i class="bx bxs-star-half"></i>
            <% } %>
          </div>
          <p><%= review.comment %></p>
          <% if (review.comments && review.comments.length > 0) { %>
          <h3>Additional Comments:</h3>
          <ul>
            <% review.comments.forEach(comment => { %>
            <li><%= comment %></li>
            <% }) %>
          </ul>
          <% } %>
        </div>
        <% }) %>
      </div>
      <% if (pages > 1) { %>
      <div class="pagination">
        <% for (let i = 1; i <= pages; i++) { %>
        <a href="?page=<%= i %>" class="<%= current === i ? 'active' : '' %>"
          ><%= i %></a
        >
        <% } %>
      </div>
      <% } %>
    </section>
  </main>
  <%- include('./includes/end.ejs') %>
</body>
