<%- include('./includes/head.ejs') %>

<body>
   <%- include('./includes/navigation.ejs') %>
       <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
  <section>
    <div class="form-container-signup">
      <form action="/signup" method="POST">
      <div class="row form-group mb-4">
      <div class="col">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        name="firstName"
        id="firstName"
        value=""
        placeholder="First Name"
        required />
      </div>

       <div class="col">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="lastName"
        id="lastName"
        value=""
        placeholder="Last Name"
        required />
        </div>
        </div>

        <div class="row form-group mb-4">
        <div class="col">
        <label for="tel">Telephone</label>
        <input
        type="tel"
        class="form-control"
        name="tel"
        id="tel"
        value=""
        placeholder="Telephone"
        required />
        </div>

        <div class="col">
        <label for="email">Email</label>
        <input
        class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
        type="email"
        class="form-control"
        name="email"
        id="email"
        value=""
        placeholder="Email"
        required />
        </div>
        </div>

      <div class="col">
        <label for="email">Password</label>
        <input
        class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
        type="password"
        class="form-control"
        name="password"
        id="password"
        value=""
        placeholder="Password"
        required />
        </div>
        <button class="btn" type="submit">Register</button>
      </form>
    </div>
      </div>

  </section>

<%- include('./includes/end.ejs') %>
