<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container-fluid">
      <header
        class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/"
          >Home</a
        >

        <button
          class="navbar-toggler position-absolute d-md-none collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <form
          class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0"
          role="search"
          method="POST"
          action="/admin/searchBooking">
          <input
            type="search"
            name="searchTerm"
            class="form-control form-control-dark w-100 rounded-0 border-0"
            placeholder="Search..."
            aria-label="Search" />
        </form>
      </header>

      <div class="row">
        <%- include('../partials/sidebar.ejs') %>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <div
          class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Booking Details</h1>
          <div class="btn-toolbar mb-2 mb-md 0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Share
              </button>
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Export
              </button>
            </div>
          </div>
        </div>

        <div class="col py-3">
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/admin">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active"><%= booking.user.email %></li>
                </ol>
              </nav>
            </div>
            <div class="col text-end fw-lighter">
              <b>User Id:</b> <%= booking.user.userId %>
            </div>
          </div>
        </div>

        <ul class="list-group" style="margin-bottom: 15px;">
          <li class="list-group-item">
            <div class="row">
              <div class="col" style="max-width: 200px; margin-bottom: 15px;">
                <b>Vehicle:</b>
              </div>
              <div class="col" style="margin-bottom: 15px;"><%= booking.vehicle.title %></div>
            </div>
          </li>

          <li class="list-group-item" style="margin-bottom: 15px;">
            <div class="row">
              <div class="col" style="max-width: 200px; margin-bottom: 15px;">
                <b>Payment Intent Id:</b>
              </div>
              <div class="col" style="margin-bottom: 15px;"><%= booking.paymentIntentId %></div>
            </div>
          </li>

          <li class="list-group-item" style="margin-bottom: 15px;">
            <div class="row">
              <div class="col" style="max-width: 200px; margin-bottom: 15px;">
                <b>Payment_Done:</b>
              </div>
              <div class="col" style="margin-bottom: 15px;"><%= booking.payment_done %></div>
            </div>
          </li>

          <li class="list-group-item" style="margin-bottom: 15px;">
            <div class="row">
              <div class="col" style="max-width: 200px; margin-bottom: 15px;">
                <b>Location:</b>
              </div>
              <div class="col" style="margin-bottom: 15px;"> 
                <% if (booking.differentLocation) { %>
                  <%= booking.location %>
                <b style="padding-left: 150px;">Return Different Location:</b>
                  <%= booking.differentLocation %>
                <% } else { %>
                  <%= booking.location %>
                <% } %>
              </div>
            </div>
          </li>

            <li class="list-group-item" style="margin-bottom: 15px;">
            <div class="row">
              <div class="col" style="max-width: 200px; margin-bottom: 15px;">
                <b>Start Date:</b>
              </div>
              <div class="col" style="margin-bottom: 15px;"><%= booking.startDate %></div>
            </div>
          </li>

            <li class="list-group-item" style="margin-bottom: 15px;">
            <div class="row">
              <div class="col" style="max-width: 200px; margin-bottom: 15px;">
                <b>End Date:</b>
              </div>
              <div class="col" style="margin-bottom: 15px;"><%= booking.endDate %></div>
            </div>
          </li>

          <li class="list-group-item" style="margin-bottom: 15px;">
            <div class="row">
              <div class="col" style="max-width: 200px; margin-bottom: 15px;">
                <b>Start Hourly Time:</b>
              </div>
              <div class="col" style="margin-bottom: 15px;"><%= booking.startHourlyTime %></div>
            </div>
          </li>

          <li class="list-group-item" style="margin-bottom: 15px;">
            <div class="row">
              <div class="col" style="max-width: 200px; margin-bottom: 15px;">
                <b>End Hourly Time:</b>
              </div>
              <div class="col" style="margin-bottom: 15px;"><%= booking.endHourlyTime %></div>
            </div>
          </li>

          <li class="list-group-item" style="margin-bottom: 15px;">
            <div class="row">
              <div class="col" style="max-width: 200px; margin-bottom: 15px;">
                <b>Cost:</b>
              </div>
              <div class="col" style="margin-bottom: 15px;"><%= booking.totalAmount %></div>
            </div>
          </li>
        </ul>
        
        <%- include('../layouts/lower.ejs') %>
      </div>
    </div>
  </body>
</html>
